<data-config>
	<BatteryUsages>
		<FreeBatteryUsing>5</FreeBatteryUsing>
		<LightBatteryUsing>10</LightBatteryUsing>
		<MediumBatteryUsing>15</MediumBatteryUsing>
		<HeavyBatteryUsing>20</HeavyBatteryUsing>
		<ChargingRate>20</ChargingRate>
	</BatteryUsages>
	<RowNumbers>
		<NewParcelId>24</NewParcelId>
	</RowNumbers>
</data-config>
